.back-arrow {
  border: none;
  background-color: white;
  padding: 0px 2px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 100ms;
  margin-bottom: 1rem;

  &:hover {
    background-color: #eee;
    border-radius: 3px;
  }
}

.group-form {
  padding-left: 1rem;
  width: 100%;

  .field-header {
    text-transform: uppercase;
    border-bottom: 2px solid rgba(17, 17, 26, 0.1);
    padding-bottom: 2px;
    font-size: 1.2rem;
  }

  .field-label {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 500;
  }

  .add-group-field,
  .add-member-field {
    width: 75%;
    font-size: 1rem;
    margin-top: 5px;
    padding: 5px;
  }

  .create-group-btn {
    width: 75%;
    border: 1px solid #212529;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 100ms;

    &:hover {
      background-color: #212529;
      color: white;
    }
  }
}
