@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Sour Gummy", sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #fbfbff;
}
